<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.LogRepository">
    <cache type="caches.mybatis.MybatisRedisCache"/>

    <resultMap id="logResultMap" type="domain.Log">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="lastLoginTime" column="last_login_time"/>
    </resultMap>

    <select id="selectByUserId" resultMap="logResultMap" parameterType="int" useCache="true">
        SELECT * FROM logs l INNER JOIN users u WHERE u.id = l.id
    </select>

    <insert id="saveUser" parameterType="domain.User">
        INSERT INTO users (name, email, password)
        VALUES (#{name}, #{email}, #{password});
    </insert>

    <update id="update" parameterType="domain.User">
        UPDATE users SET count = count + 1, last_login_time=now() WHERE id= #{userId}
    </update>

    <select id="selectEmail">
        SELECT email FROM users WHERE email = #{email}
    </select>
</mapper>

